.error-msg {
  display: none;
  color: red;
  font-size: 10px;
  padding-top: 15px;
}

.error-msg.form-error {
  display: block;
}

.inscrire-form-btn:hover {
  background: aqua ;
}

.subscibe {
  padding: 0;
}

.subscibe>div {
  background: #fff;
  padding: 68px;
}

.subscibe> table {
  width: 50px;
  
}

 .subscibe>div {
    background: #fff;
    padding: 0;
    text-align: center;
  }
