<div id="subscribe-component" class="modal fade login-popUp" style="border-radius: 0;" tabindex="-1" data-width="40%">
    <div class="modal-header" style="border: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="subscibe">
                <div class="">
                    <div class="portlet searchForm">
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group" [ngClass]="{'has-error': userNameHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="userName" [(ngModel)]="user.login" (change)="inputChange($event)" type="text" class="form-control input-circle"
                                                placeholder="Login">
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': passwordHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="firstName" [(ngModel)]="user.firstName" (change)="inputChange($event)" type="text" class="form-control input-circle"
                                                placeholder="First name">
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': passwordHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="lastName" [(ngModel)]="user.lastName" (change)="inputChange($event)" type="text" class="form-control input-circle"
                                                placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': passwordHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="email" [(ngModel)]="user.email" (change)="inputChange($event)" type="email" class="form-control input-circle"
                                                placeholder="email">
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': passwordHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="password" [(ngModel)]="user.password" (change)="inputChange($event)" type="password" class="form-control input-circle"
                                                placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': passwordHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="password" [(ngModel)]="password" (change)="inputChange($event)" type="password" class="form-control input-circle"
                                                placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'has-error': passwordHasError}" style="margin-bottom: 17px;">
                                        <div class="col-md-12">
                                            <input name="mobile" [(ngModel)]="user.mobile" (change)="inputChange($event)" type="text" class="form-control input-circle"
                                                placeholder="Mobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="javascript:;" id="btn-login-form" (click)="subscribe()" class="btn btn-circle btn-sm orange form-submit-btn connect-btn-form"> 
                        Subscribe
                       </a>
                                            <app-loader id="login-loader" style="display:none"></app-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="error-msg" [ngClass]="{'form-error': formErrorMsg?.length > 0}">
                                    {{formErrorMsg}}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="subscribe-success" class="modal fade login-popUp" style="border-radius: 0;" tabindex="-1" data-width="40%">
    <div class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
</div>